extends layout

block content  

  h2.sub-header=listtitle
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr          
          th Wechat User ID                               
          th operation
      tbody
      each userItem in Users.data.openid        
        tr          
          td
            i.fa.fa-weixin
            a(href="/admin/user/" + userItem)=userItem          
          td
            a.btn.btn-default(href="/admin/user/"  + userItem, target="_self") view
