extends ../layout

append css
  link(rel='stylesheet', href='/css/admin.css')
  link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')

block main    
  block content
block scripts
  script(src='/js/default.js')